init_config:

instances:
    ## @param hostname - string - required
    ## The mapR host to monitor
    #
  - host: localhost

    ## @param mapr_ticketfile_location - string - optional
    ## The path to the mapR user ticket, if included it will override the MAPR_TICKETFILE_LOCATION environment variable.
    #
    # mapr_ticketfile_location: <MAPR_TICKETFILE_LOCATION>

    ## @param topic_path - string - required
    ## The mapR topic path
    #
  - topic_path: /var/mapr/mapr.monitoring/metricstreams

    ## @param whitelist - list - required
    ## List regexes of metrics to collect
    #
  - whitelist:
    - mapr.fs.*
